$max-width: 1220px;
$screen-sm: 480px;
$screen-md: 620px;
$screen-lg: 1024px;

$burger-size: 25px;
$burger-line-height: 2px;

$primary-font: "Hitmarker Regular";
$secondary-font: "Hitmarker VF";

$td: 300ms;


:root {
    --bg-color: #1b1b1b;
    --header-bg: rgba(73, 73, 73, 0.48);
    --header-nav-bg: rgba(73, 73, 73, 0.52);
    --cta-bg: rgba(73, 73, 73, .6);
    --tag-bg: #92918A;

    --primary-color: green;
    --main-color: #fff;
    --main-color-inverted: #000;
    

    --text-color: #fff;
    --text-secondary: #92918A;
}