$max-width: 1220px;
$screen-sm: 480px;
$screen-md: 620px;
$screen-lg: 1024px;

$burger-size: 25px;
$burger-line-height: 2px;

$primary-font: "Hitmarker Regular";


:root {
    --bg-color: #000;
    --header-bg: rgba(73, 73, 73, 0.48);

    --primary-color: green;
    --main-color: #fff;
    --main-color-inverted: #000;
    

    --text-color: #fff;
}