@use '../abstracts/' as abs;

.header {
    width: 100%;
    @include abs.fixed(top 30px left 0);
    z-index: 1000;

    &__mobile {
        position: relative;
    }

    &__top {
        background-color: var(--header-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: abs.toRem(10) abs.toRem(15);
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 16px;
        width: 100%;
        display: inline-block;
        object-fit: contain;
    }

    &__left {
        display: flex;
    }
}