@use '../abstracts/' as abs;

.header {
    width: 100%;
    @include abs.fixed(top 30px left 0);
    z-index: 1000;
    transition: opacity abs.$td ease-in-out;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    &__container {
        position: relative;
    }

    &__mobile {
        position: relative;
    }

    &__top {
        background-color: var(--header-bg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: abs.toRem(15) abs.toRem(15);

        @include abs.for-desktop-up {
            padding-block: abs.toRem(10);
        }
    }

    &__left {
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 16px;
        width: auto;
        max-width: 100%;
        display: inline-block;
        object-fit: contain;

        @include abs.for-tablet-up {
            height: abs.toRem(25);
        }
    }

    &__right {
        @include abs.for-desktop-up {
            display: flex;
            align-items: center;
        }
    }
}