@use '../abstracts/' as abs;

.btn {
    display: inline-block;
    padding: abs.toRem(5) abs.toRem(10);

    &--main {
        background-color: var(--main-color);
        color: var(--main-color-inverted);
        font-weight: 600;
    }

    &--border  {
        background-color: transparent;
        border: 1px solid var(--main-color);
    }
}