@font-face {
    font-family: "Hitmarker Regular";
    src: 
        url("../assets/fonts/hitmarker/HitmarkerText-Regular.woff2");
}

@font-face {
    font-family: "Hitmarker Bold";
    src: 
        url("../assets/fonts/hitmarker/HitmarkerText-Bold.woff2");
}

@font-face {
    font-family: "Hitmarker Italic";
    src: 
        url("../assets/fonts/hitmarker/HitmarkerText-Italic.woff2");
}

@font-face {
    font-family: "Hitmarker VF";
    src: 
        url("../assets/fonts/hitmarker/Hitmarker-VF.woff2");
}